.rating{
    margin-right: 8%;
    margin-left: 10%;
    
}
.comment{
    margin-right: 8%;
    margin-left: 7%;
    
}
.commentInput{
    width: 80%;
    height: 40%;
    margin-left: -2%;
    margin-top: 7%;
    
}
.sendRating{
    width: 150%;
    margin-left: 25%;   
    padding: 0%;
}
.column{
    display: flex;
    flex-direction: column;
}