.movieParagarph{
    min-height: 480px;
    margin-left: 5%;
    padding: 10px;
}
.heading4{
    color: tomato;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    display: flex;
}
@media all and (max-width: 414px) {
    .heading4   {
        margin-left: 5%;
        font-size: 1.6rem;
    }
}