.moviePageTitle{
    color: tomato;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    display: flex;
}
.four-columns{
    display: grid;
    grid-template-columns: repeat(4,1fr);    
    grid-row-gap: 0px;
    margin-top: 1%;
  }
  
  .poster{
    width: 75%;
    height:75%;
    margin-left: 5%;

  }
  .moive__des{
    color: tomato;
    margin-left: 5%;
    font-size: 1.2rem;
  }

  #overlay {
    position: fixed;
    width: 100vw;
    height: 92vh;
    background: rgba(0, 0, 0, .8);
    display: none;
    justify-content: center;
    align-items: center;
}

#overlay.show {
    display: flex;
}

#overlay figure button {
  position: absolute;
  
}

#overlay figure {
    max-width: 50rem;
    display: inline-flex;
}

#overlay figure img {
    width: 100%;
}

#overlay figure figcaption {
    color: white;
}

/*.loadMore{
    color:white;
    margin-left: 45%;
    margin-bottom: 2%;
    background-color: tomato;
  }*/

  .buybutton{
    color:white;
    margin-left: -10%;
    margin-bottom: 15%;
    margin-top: 3%;
    background-color: tomato;
    width: 50px;
    border-radius: 10%;
  }
  .moreinfobutton{
    color:white;
    margin-left: 42%;
    margin-bottom: 15%;
    margin-top: 3%;
    background-color: tomato;
    width: 73px;
    border-radius: 10%;
  }
  .moviecardbuttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
@media all and (max-width: 960px) {
  .box   {
    margin-left: 15%;
}
}
@media all and (max-width: 414px) {
  .box   {
      margin-left: 5%;
  }
  h1{
      margin-left: 35%;    
  }
  .poster{
    margin-top: 15%;
  }
  .four-columns{
    display: grid;
    grid-template-columns: repeat(2,1fr);    
    grid-row-gap: 0px;
    margin-top: 1%;
  }
  .buybutton{
    width: 50px;
    border-radius: 10%;
  }
  .moreinfobutton{
    width: 50px;
    border-radius: 10%;
  }
 }