.cartItem {
    height: 200px;
    display: flex;
    flex-direction: row;
    padding: 3%;
    border-radius: 2rem;
    border: 1px solid black;
    background-image: linear-gradient(235deg,  rgb(224, 227, 228), rgb(101, 102, 102));
    box-shadow: 0.1rem 0.2rem rgb(70, 69, 69);
    margin: 3%;
    
}

.cartItemTitle {
    font-size: x-large;
    margin-top: 2%;
    margin-bottom: 2%;
    color: rgb(80, 97, 100);
    text-shadow: 1px 1px honeydew;
}

.infoCartItem {
    
    margin-left: 4%;
    display: flex;
    flex-direction: column-reverse; 
}

.imageButtonsCartItem {
    
    display: flex;
    flex-direction: column;  
}

.cartItemButtons {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    margin-left: -5%;   
}
.posterCartItem {
    height: 100%;
    width: 50%;
    object-fit: fill;
    border-radius: 0.5rem;
    box-shadow:0.1rem 0.1rem rgb(70, 69, 69);
    margin: 2%;

}

.cartItemButton{
  opacity: 0.5;
  height: 30px;
  width: 90px;
  color: white;
  background-image: linear-gradient(315deg,  rgb(181, 215, 226), rgb(5, 51, 66));
  border-radius: 5rem;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 3%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 1rem;
}